#list{
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-background-list);
    border-radius: 0.8rem;
    
    padding: 2.2rem 3.8rem;
    margin-top: 2.2rem;
    
}

#list table thead{
    font: 700 1.4rem 'Poppins';
}
#list table tbody td{
    padding-right: 1.4rem;
}

#list table tbody td input {
    width: 10rem;
    height: 4.2rem;
    word-break: break-all;
}



#list form button {
    height: 3.8rem;
    width: 6rem;
    font-size: 2.2rem;

    background-color: var(--color-button-dark);
    color: var(--color-title-in-primary);
    
    border: 0;
    border-radius: 0.8rem;

    cursor: pointer;

}

#list button:first-of-type{
    margin-right: 0.6rem;
}

@media (min-width: 700px) {
    #list {
        font-size: 1.4rem;
        
    }

    #list table td{
        padding: 0 2.2rem;
    }

    #list table tbody td input {
        width: 12rem;
        height: 3.2rem;
        word-break: break-all;
    }

    #list button {
       width: 2.2rem;
       height: 3.2rem;
       padding: 2.2rem auto;

    }

    #list button:first-of-type{
        margin-right: 1rem;
    }

}





